body {
    background-color: rgb(30,30,30);
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    color: #ededed;
}



#outer_div{
    display: flex;
    background-color: rgb(30,30,30);
}

.column_1{
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: -20px;
    height: 100%;
    flex: 25%;
    background-color: #2b2b2b;

}
#title p{
    color: rgb(255,255,255);
    font-size: 43px;
    color: #fff;
    font-family: ATrebuchet MS, sans-serif ;
    margin-top: 10%;
}
p#p2{
    margin-top: -40px;
    font-size: 25px;
}
#title{
    margin-top: 8%;
}
#logo{
    width: 63%;
    height: auto;
    margin-top: -30px;
    margin-bottom: 4%;
}
#top_winners{
    margin-bottom:9%;
}
#top_countries{
    margin-top: 8%;
}
#filter{
    margin-bottom:10%;
}
#filter p{
    font-size : 16px;
}
#search p{
    font-size : 16px;
}
#search{
    margin-bottom:10%;
    padding-left: 12%;
    padding-right: 12%;
}
#sport_select{
    background-color: DodgerBlue;
}
.leftboxes h2{
    font-weight:normal;
    color: white;
}
#text p {
    font-size: 14px;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
}
#text{
    padding-bottom: 283 px;
}
#text h3{
    font-size: 17px;
    margin-top: 60%;
    color: rgb(86,125,125);
}



.column_2{
    flex: 70%;
    padding: 3%;
}

.row_1{
    display: flex;
    margin-bottom: 4%;
}
.miniboxes{
    flex: 25%;
}
.row_1 h3{
    font-weight:normal;
    color: rgb(178,178,178);
    font-size: 23px;
}
.row_1 p{
    font-size: 20px;
    margin-top: -4%;
}
.row_1 .nr {
    font-size: 20px;
    margin-top: -3%;
}
.row_2{
    margin-top: -2%;
    margin-bottom: 2%;
}
.row_3{
    margin-bottom: 4%;
    background-color: rgb(43,43,43);
    padding : 1%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}

.row_4{
    display: flex;
}
.boxes{
    flex: 36%;
    background-color: rgb(43,43,43);
    margin-right:2%;
    padding: 10px;
    padding-top:2px;
}
#countries_linechart{
    height:auto;
}
.boxes p {
    font-size: 20px;
    margin-bottom: 20px;
}
.row_5{
    margin-top: 4%;
    background-color: rgb(43,43,43);
    padding-bottom:5%;
}


